<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ingreso de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <label>Bienvenido</label>
  <br> <br> 
  <ion-item>
    <ion-label>Nombre:</ion-label><input type="text" [(ngModel)]="nombre">
  </ion-item>
  <ion-item>
    <ion-label>Clave:</ion-label><input type="password" [(ngModel)]="clave">
  </ion-item>
  <ion-button color="primary" shape="round" fill="outline" expand="block"(click)="ingresar()"> Ingresar
    <ion-icon slot="icon-only" name="enter"></ion-icon>
  </ion-button>

  <ion-button color="primary" shape="round" fill="outline" expand="block" (click)="restablecerclave()">restablecer clave
    <ion-icon slot="icon-only" name="create"></ion-icon>
  </ion-button>
</ion-content>
