<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color: darkorange;">Mi Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br>
<h2>Listado de asistencia</h2>

<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Programacion</ion-label>
    </ion-item>
    <div *ngFor="let asistencia of asistencias"
    class="ion-padding" slot="content"> {{ asistencia.fecha}}, {{ asistencia.asistencia}}</div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Ingles</ion-label>
    </ion-item>
    <div *ngFor="let asistencia of asistencias"
    class="ion-padding" slot="content"> {{ asistencia.fecha}}, {{ asistencia.asistencia}}</div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Calidad de software</ion-label>
    </ion-item>
    <div *ngFor="let asistencia of asistencias"
     class="ion-padding" slot="content">{{ asistencia.fecha}}, {{ asistencia.asistencia}}</div>
  </ion-accordion>
</ion-accordion-group>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title style="color: darkorange;">Menu</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>