.custom-label {
    font-size: 24px;         /* Tamaño del texto más grande */
    text-align: center;      /* Centra el texto dentro del elemento */
    display: block;          /* Asegura que el elemento ocupe toda la línea */
    margin: 0 auto;          /* Centra el elemento en su contenedor */
  }

  /* Contenedor de la imagen para centrarla */
  .profile-container {
    display: flex;
    justify-content: center;   /* Centra horizontalmente */
    align-items: center;       /* Centra verticalmente */
    margin-top: 20px;          /* Margen superior ajustable */
    height: 200px;             /* Ajusta la altura del contenedor para centrar */
  }

  /* Imagen circular más pequeña */
  .profile-image {
    width: 170px;               /* Tamaño reducido de la imagen */
    height: 170px;              /* Mismo tamaño para mantenerla circular */
    border-radius: 50%;        /* Hace la imagen circular */
    border: 2px solid #fff;    /* Borde blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }

  label{
    color: rgb(0, 0, 0);
     }

     ion-item:hover {
      --background: rgb(255, 218, 114);
    }

    body {
      background-color: black;
    }

    ion-toolbar {
      --background: #000a29; 
      --color: #ffffff;      
    }