<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color: darkorange;">Registro de Asistencia</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Presiona el boton para Generar un codigo QR</h2>

  <ion-button expand="block" (click)="registrarAsistencia()" shape="round">
    Desplegar QR
  </ion-button>


  <ion-img *ngIf="mostrarQR" src="assets/qrasistencia.png"></ion-img>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="color: darkorange;">Menu</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>